{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}
{% block banner-slider %} 

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %});">
          <div class="container">
            <h2>Welcome to <span>Medic</span></h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>
            <a href="{% url 'about' %}" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %});">
          <div class="container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>
            <a href="{% url 'about' %}" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %});">
          <div class="container">
            <h2>Sequi ea ut et est quaerat</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>
            <a href="{% url 'about' %}" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
</section><!-- End Hero -->

{% endblock banner-slider %}


{% block content %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
        </div>
  
        <div>
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
  
        <div class="container">
  
          <div class="row mt-5">
  
            <div class="col-lg-6">
  
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>Block 5, HUB Building, Lekki Lagos, NIG</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>medichospital@gmail.com<br>contactmedic@gmail.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+234 8143 9326 04<br>+234 7038 2818 61</p>
                  </div>
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="7" placeholder="Message" required=""></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
    </section><!-- End Contact Section -->

    <div class="container mb-5 mt-5">
        <h3 class="text-center">Contact Us</h3>

        <div class="row mt-5 text-center">
            <div class="col-lg-3 col-sm-6 mydiv">
                <h4><i class="fa-solid fa-square-phone"></i> Contact</h4>
                <p class="text-danger fw-bold mt-3"><a href="tel:+2348143932604">+2348143932604</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 mydiv">
                <h4><i class="fa-solid fa-envelope"></i> Email</h4>
                <p class="fw-bold mt-3"><a href="mailto:hospital@gmail.com">medichospital@gmail.com</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 mydiv">
                <h4><i class="fa-solid fa-address-book"></i> Office Address</h4>
                <p class="fw-bold mt-3"><a href="https://www.google.com/maps/place/Council+Bustop,+56+Idimu+Rd,+Egbeda+102213,+Lagos/@6.5953503,3.2830672,17z/data=!3m1!4b1!4m6!3m5!1s0x103b9045ec331c37:0x38a7003b2b5c3bbb!8m2!3d6.595345!4d3.2876806!16s%2Fg%2F11c6vdthr6?entry=ttu">Council Idimu.</a></p>
            </div>
            <div class="col-lg-3 col-sm-6 mydiv">
                <h4><i class="fa-solid fa-clock"></i> Office Time</h4>
                <p class="fw-bold mt-3">8:00am-10:00pm</p>
            </div>
        </div>
    </div>


    <!-- ======= Footer ======= -->
     <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                    <h3>Medic</h3>
                    <p>
                      Block 5, HUB Building <br>
                      Lekki Lagos, NIG<br><br>
                        <strong>Phone:</strong> +234 8143 9326 04<br>
                        <strong>Email:</strong> medichospital@gmail.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Cardiology</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Pediatrics</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Radiology</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Hepatology</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Neurology</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Medic</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="#">Charles</a>
            </div>
        </div>
    </footer><!-- End Footer -->

{% endblock content %}
